USE [etraveldb]
GO
ALTER TABLE [dbo].[TransactionDetail] DROP CONSTRAINT [FK_TransactionDetail_Transaction]
GO
ALTER TABLE [dbo].[Transaction] DROP CONSTRAINT [FK_Transaction_Account]
GO
ALTER TABLE [dbo].[Transaction] DROP CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[PlaceTime] DROP CONSTRAINT [FK_PlaceTime_Place]
GO
ALTER TABLE [dbo].[PlaceItem] DROP CONSTRAINT [FK_PlaceItem_Place]
GO
ALTER TABLE [dbo].[PlaceImage] DROP CONSTRAINT [FK_PlaceImage_Place]
GO
ALTER TABLE [dbo].[PlaceDescription] DROP CONSTRAINT [FK_PlaceDescription_Place]
GO
ALTER TABLE [dbo].[PlaceCategory] DROP CONSTRAINT [FK_PlaceCategory_Place]
GO
ALTER TABLE [dbo].[PlaceCategory] DROP CONSTRAINT [FK_PlaceCategory_Category]
GO
ALTER TABLE [dbo].[MarkPlace] DROP CONSTRAINT [FK_MarkPlace_Place]
GO
ALTER TABLE [dbo].[MarkPlace] DROP CONSTRAINT [FK_MarkPlace_Account]
GO
ALTER TABLE [dbo].[ItineraryPlace] DROP CONSTRAINT [FK_TourDetail_Tour]
GO
ALTER TABLE [dbo].[ItineraryPlace] DROP CONSTRAINT [FK_TourDetail_Place]
GO
ALTER TABLE [dbo].[ItineraryDescription] DROP CONSTRAINT [FK_TourDescription_Tour]
GO
ALTER TABLE [dbo].[Itinerary] DROP CONSTRAINT [FK_Tour_Account]
GO
ALTER TABLE [dbo].[ItemDescription] DROP CONSTRAINT [FK_ItemDescription_PlaceItem]
GO
ALTER TABLE [dbo].[FeedBack] DROP CONSTRAINT [FK_FeedBack_Tour1]
GO
ALTER TABLE [dbo].[FeedBack] DROP CONSTRAINT [FK_FeedBack_Place1]
GO
ALTER TABLE [dbo].[FeedBack] DROP CONSTRAINT [FK_FeedBack_Account]
GO
ALTER TABLE [dbo].[FcmToken] DROP CONSTRAINT [FK_FcmToken_Account]
GO
ALTER TABLE [dbo].[Conversation] DROP CONSTRAINT [FK_Conversation_Account1]
GO
ALTER TABLE [dbo].[Conversation] DROP CONSTRAINT [FK_Conversation_Account]
GO
ALTER TABLE [dbo].[CelebrateImage] DROP CONSTRAINT [FK_CelebrateImage_BookingPlace]
GO
ALTER TABLE [dbo].[CategoryLanguage] DROP CONSTRAINT [FK_CategoryLanguage_Category]
GO
ALTER TABLE [dbo].[BookingPlace] DROP CONSTRAINT [FK_BookingPlace_Place]
GO
ALTER TABLE [dbo].[BookingPlace] DROP CONSTRAINT [FK_BookingPlace_Journey]
GO
ALTER TABLE [dbo].[BookingPlace] DROP CONSTRAINT [FK_BookingPlace_Booking]
GO
ALTER TABLE [dbo].[Booking] DROP CONSTRAINT [FK_Booking_Account]
GO
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [FK_Account_Nationality]
GO
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [FK_Account_ConfigLanguage]
GO
/****** Object:  Index [IX_Conversation_1]    Script Date: 12/9/2023 8:46:13 PM ******/
ALTER TABLE [dbo].[Conversation] DROP CONSTRAINT [IX_Conversation_1]
GO
/****** Object:  Index [UQ_ConfigLanguage]    Script Date: 12/9/2023 8:46:13 PM ******/
DROP INDEX [UQ_ConfigLanguage] ON [dbo].[ConfigLanguage]
GO
/****** Object:  Index [UQ_Phone]    Script Date: 12/9/2023 8:46:13 PM ******/
DROP INDEX [UQ_Phone] ON [dbo].[Account]
GO
/****** Object:  Index [UC_Email]    Script Date: 12/9/2023 8:46:13 PM ******/
ALTER TABLE [dbo].[Account] DROP CONSTRAINT [UC_Email]
GO
/****** Object:  Table [dbo].[TransactionDetail]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TransactionDetail]') AND type in (N'U'))
DROP TABLE [dbo].[TransactionDetail]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Transaction]') AND type in (N'U'))
DROP TABLE [dbo].[Transaction]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Role]') AND type in (N'U'))
DROP TABLE [dbo].[Role]
GO
/****** Object:  Table [dbo].[PlaceTime]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlaceTime]') AND type in (N'U'))
DROP TABLE [dbo].[PlaceTime]
GO
/****** Object:  Table [dbo].[PlaceItem]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlaceItem]') AND type in (N'U'))
DROP TABLE [dbo].[PlaceItem]
GO
/****** Object:  Table [dbo].[PlaceImage]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlaceImage]') AND type in (N'U'))
DROP TABLE [dbo].[PlaceImage]
GO
/****** Object:  Table [dbo].[PlaceDescription]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlaceDescription]') AND type in (N'U'))
DROP TABLE [dbo].[PlaceDescription]
GO
/****** Object:  Table [dbo].[PlaceCategory]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PlaceCategory]') AND type in (N'U'))
DROP TABLE [dbo].[PlaceCategory]
GO
/****** Object:  Table [dbo].[Place]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Place]') AND type in (N'U'))
DROP TABLE [dbo].[Place]
GO
/****** Object:  Table [dbo].[Nationality]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Nationality]') AND type in (N'U'))
DROP TABLE [dbo].[Nationality]
GO
/****** Object:  Table [dbo].[MarkPlace]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MarkPlace]') AND type in (N'U'))
DROP TABLE [dbo].[MarkPlace]
GO
/****** Object:  Table [dbo].[Journey]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Journey]') AND type in (N'U'))
DROP TABLE [dbo].[Journey]
GO
/****** Object:  Table [dbo].[ItineraryPlace]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItineraryPlace]') AND type in (N'U'))
DROP TABLE [dbo].[ItineraryPlace]
GO
/****** Object:  Table [dbo].[ItineraryDescription]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItineraryDescription]') AND type in (N'U'))
DROP TABLE [dbo].[ItineraryDescription]
GO
/****** Object:  Table [dbo].[Itinerary]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Itinerary]') AND type in (N'U'))
DROP TABLE [dbo].[Itinerary]
GO
/****** Object:  Table [dbo].[ItemDescription]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ItemDescription]') AND type in (N'U'))
DROP TABLE [dbo].[ItemDescription]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FeedBack]') AND type in (N'U'))
DROP TABLE [dbo].[FeedBack]
GO
/****** Object:  Table [dbo].[FcmToken]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[FcmToken]') AND type in (N'U'))
DROP TABLE [dbo].[FcmToken]
GO
/****** Object:  Table [dbo].[Conversation]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Conversation]') AND type in (N'U'))
DROP TABLE [dbo].[Conversation]
GO
/****** Object:  Table [dbo].[ConfigLanguage]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ConfigLanguage]') AND type in (N'U'))
DROP TABLE [dbo].[ConfigLanguage]
GO
/****** Object:  Table [dbo].[CelebrateImage]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CelebrateImage]') AND type in (N'U'))
DROP TABLE [dbo].[CelebrateImage]
GO
/****** Object:  Table [dbo].[CategoryLanguage]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CategoryLanguage]') AND type in (N'U'))
DROP TABLE [dbo].[CategoryLanguage]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Category]') AND type in (N'U'))
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[BookingPlace]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[BookingPlace]') AND type in (N'U'))
DROP TABLE [dbo].[BookingPlace]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Booking]') AND type in (N'U'))
DROP TABLE [dbo].[Booking]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/9/2023 8:46:13 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Account]') AND type in (N'U'))
DROP TABLE [dbo].[Account]
GO
USE [master]
GO
/****** Object:  Database [etraveldb]    Script Date: 12/9/2023 8:46:13 PM ******/
DROP DATABASE [etraveldb]
GO
/****** Object:  Database [etraveldb]    Script Date: 12/9/2023 8:46:13 PM ******/
CREATE DATABASE [etraveldb]
GO
USE [etraveldb]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ConfigLanguageId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[NationalCode] [nvarchar](10) NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [varchar](150) NOT NULL,
	[Image] [varchar](max) NULL,
	[Phone] [varchar](20) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
	[Address] [nvarchar](300) NULL,
	[Gender] [nvarchar](10) NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[ItineraryId] [int] NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[IsPrepared] [bit] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookingPlace]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookingPlace](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[BookingId] [int] NOT NULL,
	[JourneyId] [int] NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[StartTime] [datetime] NULL,
	[Ordinal] [int] NULL,
	[Status] [int] NOT NULL,
	[IsJourney] [bit] NOT NULL,
	[ExpiredTime] [datetime] NULL,
 CONSTRAINT [PK_BookingDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Status] [int] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CategoryLanguage]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CategoryLanguage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[NameLanguage] [nvarchar](150) NOT NULL,
	[Status] [int] NULL,
	[LanguageCode] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CategoryLanguage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CelebrateImage]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CelebrateImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[BookingDetailId] [int] NOT NULL,
	[ImageUrl] [varchar](max) NULL,
	[IsPrimary] [bit] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_CelebrateImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfigLanguage]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigLanguage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Icon] [varchar](max) NOT NULL,
	[FileLink] [varchar](300) NOT NULL,
	[LanguageCode] [varchar](10) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Conversation]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conversation](
	[SessionId] [int] IDENTITY(1,1) NOT NULL,
	[Account_One_Id] [int] NOT NULL,
	[Account_Two_Id] [int] NOT NULL,
	[ChannelId] [varchar](max) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Conversation_1] PRIMARY KEY CLUSTERED 
(
	[Account_One_Id] ASC,
	[Account_Two_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FcmToken]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FcmToken](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[Token] [varchar](max) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
 CONSTRAINT [PK_FcmToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeedBack]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeedBack](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[PlaceId] [int] NULL,
	[ItineraryId] [int] NULL,
	[Rate] [float] NULL,
	[Content] [nvarchar](500) NULL,
	[IsPlace] [bit] NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_FeedBack] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemDescription]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemDescription](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceItemId] [int] NOT NULL,
	[LanguageCode] [nchar](10) NOT NULL,
	[NameItem] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ItemDescription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Itinerary]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Itinerary](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreateById] [int] NOT NULL,
	[Name] [nvarchar](150) NULL,
	[Image] [varchar](max) NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[Rate] [float] NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Tour] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItineraryDescription]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItineraryDescription](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ItineraryId] [int] NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[Status] [int] NOT NULL,
	[LanguageCode] [nchar](10) NULL,
 CONSTRAINT [PK_TourDescription_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItineraryPlace]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItineraryPlace](
	[PlaceId] [int] NOT NULL,
	[ItineraryId] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Ordinal] [int] NULL,
 CONSTRAINT [PK_TourDetail] PRIMARY KEY CLUSTERED 
(
	[PlaceId] ASC,
	[ItineraryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Journey]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Journey](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[TotalTime] [float] NOT NULL,
	[TotalDistance] [float] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Journey] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MarkPlace]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MarkPlace](
	[AccountId] [int] NOT NULL,
	[PlaceId] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_MarkPlace] PRIMARY KEY CLUSTERED 
(
	[AccountId] ASC,
	[PlaceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nationality]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationality](
	[PhoneCode] [nvarchar](10) NOT NULL,
	[NationalCode] [nvarchar](10) NOT NULL,
	[NationalName] [nvarchar](100) NOT NULL,
	[Icon] [nvarchar](max) NOT NULL,
	[LanguageName] [nvarchar](100) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Nationality] PRIMARY KEY CLUSTERED 
(
	[NationalCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Place]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Place](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Longitude] [decimal](9, 6) NOT NULL,
	[Latitude] [decimal](8, 6) NOT NULL,
	[GooglePlaceID] [varchar](200) NULL,
	[Address] [nvarchar](150) NOT NULL,
	[EntryTicket] [decimal](18, 2) NULL,
	[Hour] [time](7) NULL,
	[Rate] [float] NULL,
	[Price] [decimal](18, 2) NULL,
	[CreateTime] [datetime] NULL,
	[UpdateTime] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Place] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceCategory]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceCategory](
	[PlaceId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_PlaceCategory] PRIMARY KEY CLUSTERED 
(
	[PlaceId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceDescription]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceDescription](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[VoiceFile] [varchar](max) NULL,
	[Name] [nvarchar](200) NOT NULL,
	[LanguageCode] [nchar](10) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_PlaceDescription] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceImage]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceImage](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[Url] [varchar](max) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_PlaceImage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceItem]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[BeaconId] [nvarchar](255) NOT NULL,
	[BeaconMajorNumber] [int] NULL,
	[BeaconMinorNumber] [int] NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Url] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_PlaceItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlaceTime]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlaceTime](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlaceId] [int] NOT NULL,
	[DaysOfWeek] [int] NOT NULL,
	[OpenTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_PlaceTime] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](150) NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaction]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaction](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AccountId] [int] NOT NULL,
	[BookingId] [int] NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](800) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransactionDetail]    Script Date: 12/9/2023 8:46:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransactionId] [int] NOT NULL,
	[PaymentId] [nvarchar](max) NOT NULL,
	[CaptureId] [nvarchar](max) NULL,
	[PaymentAccountId] [nvarchar](max) NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[Currency] [nvarchar](50) NOT NULL,
	[Description] [varchar](100) NULL,
	[CreateTime] [datetime] NOT NULL,
	[UpdateTime] [datetime] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Transaction] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([Id], [AccountId], [ItineraryId], [Total], [IsPrepared], [CreateTime], [UpdateTime], [Status]) VALUES (1, 17, 1, CAST(21.00 AS Decimal(18, 2)), 1, CAST(N'2023-11-24T07:08:00.000' AS DateTime), CAST(N'2023-11-24T07:08:00.000' AS DateTime), 1)
INSERT [dbo].[Booking] ([Id], [AccountId], [ItineraryId], [Total], [IsPrepared], [CreateTime], [UpdateTime], [Status]) VALUES (2, 12, NULL, CAST(11.00 AS Decimal(18, 2)), 0, CAST(N'2023-11-24T00:12:00.000' AS DateTime), CAST(N'2023-11-24T00:12:00.000' AS DateTime), 1)
INSERT [dbo].[Booking] ([Id], [AccountId], [ItineraryId], [Total], [IsPrepared], [CreateTime], [UpdateTime], [Status]) VALUES (3, 12, NULL, CAST(10.00 AS Decimal(18, 2)), 0, CAST(N'2023-11-24T11:59:00.000' AS DateTime), CAST(N'2023-11-24T11:59:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
SET IDENTITY_INSERT [dbo].[BookingPlace] ON 

INSERT [dbo].[BookingPlace] ([Id], [PlaceId], [BookingId], [JourneyId], [Price], [StartTime], [Ordinal], [Status], [IsJourney], [ExpiredTime]) VALUES (2, 3, 1, 1, CAST(2.00 AS Decimal(18, 2)), CAST(N'2023-11-24T07:10:00.000' AS DateTime), 1, 1, 1, CAST(N'2023-11-30T07:10:00.000' AS DateTime))
INSERT [dbo].[BookingPlace] ([Id], [PlaceId], [BookingId], [JourneyId], [Price], [StartTime], [Ordinal], [Status], [IsJourney], [ExpiredTime]) VALUES (3, 8, 1, 1, CAST(5.00 AS Decimal(18, 2)), CAST(N'2023-11-24T08:42:00.000' AS DateTime), 2, 1, 1, CAST(N'2023-11-30T07:10:00.000' AS DateTime))
INSERT [dbo].[BookingPlace] ([Id], [PlaceId], [BookingId], [JourneyId], [Price], [StartTime], [Ordinal], [Status], [IsJourney], [ExpiredTime]) VALUES (4, 9, 10, NULL, CAST(6.00 AS Decimal(18, 2)), CAST(N'2023-11-24T11:11:00.000' AS DateTime), 3, 1, 0, CAST(N'2023-11-30T11:11:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[BookingPlace] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [Name], [Status], [CreateTime], [UpdateTime]) VALUES (1, N'Triển Lãm', 1, CAST(N'2023-08-08T00:00:00.000' AS DateTime), CAST(N'2023-08-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Category] ([Id], [Name], [Status], [CreateTime], [UpdateTime]) VALUES (2, N'Di Tích Lịch Sử', 1, CAST(N'2023-08-08T00:00:00.000' AS DateTime), CAST(N'2023-08-08T00:00:00.000' AS DateTime))
INSERT [dbo].[Category] ([Id], [Name], [Status], [CreateTime], [UpdateTime]) VALUES (3, N'Văn Hóa', 1, CAST(N'2023-08-08T00:00:00.000' AS DateTime), CAST(N'2023-08-08T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[CategoryLanguage] ON 

INSERT [dbo].[CategoryLanguage] ([Id], [CategoryId], [NameLanguage], [Status], [LanguageCode]) VALUES (1, 1, N'Triển Lãm', 1, N'vi        ')
INSERT [dbo].[CategoryLanguage] ([Id], [CategoryId], [NameLanguage], [Status], [LanguageCode]) VALUES (2, 1, N'展示', 1, N'ja        ')
INSERT [dbo].[CategoryLanguage] ([Id], [CategoryId], [NameLanguage], [Status], [LanguageCode]) VALUES (3, 1, N'Exhibition', 1, N'en-us     ')
SET IDENTITY_INSERT [dbo].[CategoryLanguage] OFF
GO
SET IDENTITY_INSERT [dbo].[CelebrateImage] ON 

INSERT [dbo].[CelebrateImage] ([Id], [BookingDetailId], [ImageUrl], [IsPrimary], [Status]) VALUES (1, 2, N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Celebrate%2Fman-nhan-voi-ve-dep-doc-dao-cua-nha-tho-duc-ba-sai-gon.jpg?alt=media&token=d244cbbc-c56e-4b1f-b458-80fb445bed3a', 1, 1)
INSERT [dbo].[CelebrateImage] ([Id], [BookingDetailId], [ImageUrl], [IsPrimary], [Status]) VALUES (2, 2, N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Celebrate%2Fnha-tho-duc-ba-nha-tho-dep-nhat-viet-nam.jpg?alt=media&token=4ebe6f59-b28a-44e7-9f83-bf5cea517773', 0, 1)
INSERT [dbo].[CelebrateImage] ([Id], [BookingDetailId], [ImageUrl], [IsPrimary], [Status]) VALUES (3, 8, N'https://luhanhvietnam.com.vn/du-lich/vnt_upload/news/12_2019/man-nhan-voi-ve-dep-doc-dao-cua-nha-tho-duc-ba-sai-gon.jpg', 1, 1)
SET IDENTITY_INSERT [dbo].[CelebrateImage] OFF
GO
SET IDENTITY_INSERT [dbo].[ConfigLanguage] ON 

INSERT [dbo].[ConfigLanguage] ([Id], [Name], [Icon], [FileLink], [LanguageCode], [CreateTime], [UpdateTime], [Status]) VALUES (1, N'Tiếng Việt', N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Language%2Fvietnam_language.jpg?alt=media&token=d3175873-790f-4922-984c-e4caa00fb02a', N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Language%2FFileTranslate%2Fvi.json?alt=media&token=0de300c6-facc-4878-8643-8a1898314e80', N'vi', CAST(N'2023-07-13T00:00:00.000' AS DateTime), CAST(N'2023-07-13T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[ConfigLanguage] ([Id], [Name], [Icon], [FileLink], [LanguageCode], [CreateTime], [UpdateTime], [Status]) VALUES (2, N'日本語', N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Language%2Fjapan_language.jpg?alt=media&token=4598bba1-f291-4ff2-86d0-e50e00144a44', N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Language%2FFileTranslate%2Fja.json?alt=media&token=0de300c6-facc-4878-8643-8a1898314e80', N'ja', CAST(N'2023-07-13T00:00:00.000' AS DateTime), CAST(N'2023-07-13T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[ConfigLanguage] ([Id], [Name], [Icon], [FileLink], [LanguageCode], [CreateTime], [UpdateTime], [Status]) VALUES (4, N'简体中文', N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Language%2Fchina_language.jpg?alt=media&token=27862358-4022-41ea-bd81-12ef73125357', N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Language%2FFileTranslate%2Fzh-cn.json?alt=media&token=0de300c6-facc-4878-8643-8a1898314e80', N'zh-cn', CAST(N'2023-07-13T00:00:00.000' AS DateTime), CAST(N'2023-07-13T00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[ConfigLanguage] OFF
GO
SET IDENTITY_INSERT [dbo].[Conversation] ON 

INSERT [dbo].[Conversation] ([SessionId], [Account_One_Id], [Account_Two_Id], [ChannelId], [Status]) VALUES (10, 5, 11, N'NV8xMQ==', 1)
INSERT [dbo].[Conversation] ([SessionId], [Account_One_Id], [Account_Two_Id], [ChannelId], [Status]) VALUES (13, 5, 14, N'NV8xNA==', 1)
INSERT [dbo].[Conversation] ([SessionId], [Account_One_Id], [Account_Two_Id], [ChannelId], [Status]) VALUES (8, 5, 19, N'NV8xOQ==', 1)
SET IDENTITY_INSERT [dbo].[Conversation] OFF
GO
SET IDENTITY_INSERT [dbo].[FcmToken] ON 

INSERT [dbo].[FcmToken] ([Id], [AccountId], [Token], [IsPrimary]) VALUES (1, 19, N'cCDNL_gnSGu954xQ3FKThS:APA91bEGYTDRuv1V9IEY3ST_UPF0mPcNvngWWzuG98y5DN6cc5FC69J0voUHtNGoPGURe5506zYpvGLZxEtkDhV9wMGVN1GpmBpHPet5Y7roP1hOtaoWgKRjM3108rB7PasGe_Z6o5T2', 1)
INSERT [dbo].[FcmToken] ([Id], [AccountId], [Token], [IsPrimary]) VALUES (2, 5, N'cScuoqtmQBueswgrsFN53r:APA91bGtFhpiN-TUAG1sduAfwztV1SDrBLbvprDLs3JvL2OutJzvBBFbZVl2RY5jmaBEF34Hfy4hVeznOE0F-hwYL2PRorgJt-EvJoEkSq4O-VVLnt_QurE4LozcVg45tvROkw-9RFnz', 0)
INSERT [dbo].[FcmToken] ([Id], [AccountId], [Token], [IsPrimary]) VALUES (3, 12, N'cScuoqtmQBueswgrsFN53r:APA91bGtFhpiN-TUAG1sduAfwztV1SDrBLbvprDLs3JvL2OutJzvBBFbZVl2RY5jmaBEF34Hfy4hVeznOE0F-hwYL2PRorgJt-EvJoEkSq4O-VVLnt_QurE4LozcVg45tvROkw-9RFnz', 1)
SET IDENTITY_INSERT [dbo].[FcmToken] OFF
GO
SET IDENTITY_INSERT [dbo].[FeedBack] ON 

INSERT [dbo].[FeedBack] ([Id], [AccountId], [PlaceId], [ItineraryId], [Rate], [Content], [IsPlace], [CreateTime], [UpdateTime], [Status]) VALUES (1, 19, 3, NULL, 5, N'Mình rất vui vì phong cảnh của Việt Nam thực sự rất đẹp', 1, CAST(N'2023-08-08T00:00:00.000' AS DateTime), CAST(N'2023-08-08T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[FeedBack] ([Id], [AccountId], [PlaceId], [ItineraryId], [Rate], [Content], [IsPlace], [CreateTime], [UpdateTime], [Status]) VALUES (2, 4, NULL, 2, 5, N'一切都很棒，这次旅行很棒。 越南原来这么美', 0, CAST(N'2023-08-08T00:00:00.000' AS DateTime), CAST(N'2023-08-08T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[FeedBack] ([Id], [AccountId], [PlaceId], [ItineraryId], [Rate], [Content], [IsPlace], [CreateTime], [UpdateTime], [Status]) VALUES (3, 8, 3, NULL, 5, N'Visiting Notre-Dame Cathedral was a truly awe-inspiring experience. The intricate details of the architecture and the sense of history within its walls left me speechless.', 1, CAST(N'2023-10-10T00:00:00.000' AS DateTime), CAST(N'2023-08-15T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[FeedBack] OFF
GO
SET IDENTITY_INSERT [dbo].[ItemDescription] ON 

INSERT [dbo].[ItemDescription] ([Id], [PlaceItemId], [LanguageCode], [NameItem]) VALUES (1, 1, N'en-us     ', N'The statue of Our Lady of Peace')
INSERT [dbo].[ItemDescription] ([Id], [PlaceItemId], [LanguageCode], [NameItem]) VALUES (2, 1, N'vi        ', N'Bức tượng đức mẹ Hòa Bình')
INSERT [dbo].[ItemDescription] ([Id], [PlaceItemId], [LanguageCode], [NameItem]) VALUES (4, 1, N'ja        ', N'平和の聖母像')
GO
SET IDENTITY_INSERT [dbo].[ItemDescription] OFF
GO
SET IDENTITY_INSERT [dbo].[Itinerary] ON 

INSERT [dbo].[Itinerary] ([Id], [CreateById], [Name], [Image], [Total], [Rate], [CreateTime], [UpdateTime], [Status]) VALUES (2, 4, N'Welcome To Ho Chi Minh City', N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Tour%2FOneDayTour.jpg?alt=media&token=2e05c845-0dfa-4df4-aa9c-294f31e88515', CAST(21.00 AS Decimal(18, 2)), 5, CAST(N'2023-07-18T00:00:00.000' AS DateTime), CAST(N'2023-07-18T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Itinerary] ([Id], [CreateById], [Name], [Image], [Total], [Rate], [CreateTime], [UpdateTime], [Status]) VALUES (5, 2, N'One Day In Ho Chi Minh City', N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Tour%2Fday-1-HCMC-arrival.jpg?alt=media&token=45949c65-5f84-49ce-8a8a-ad269d4de8f9', CAST(24.00 AS Decimal(18, 2)), 5, CAST(N'2023-07-18T00:00:00.000' AS DateTime), CAST(N'2023-07-18T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Itinerary] ([Id], [CreateById], [Name], [Image], [Total], [Rate], [CreateTime], [UpdateTime], [Status]) VALUES (6, 2, N'Travel Ho Chi Minh', N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Tour%2F4141-bao-tang-my-thuat-viet-nam-ra-mat-3d-tour-094108.jpg?alt=media&token=2500aa79-087d-41cb-95ae-5873782f1ed4', CAST(17.00 AS Decimal(18, 2)), NULL, CAST(N'2023-08-08T00:00:00.000' AS DateTime), NULL, 1)
SET IDENTITY_INSERT [dbo].[Itinerary] OFF
GO
SET IDENTITY_INSERT [dbo].[ItineraryDescription] ON 

INSERT [dbo].[ItineraryDescription] ([Id], [ItineraryId], [Name], [Description], [CreateTime], [UpdateTime], [Status], [LanguageCode]) VALUES (2, 7, N'Combo Lịch sử Văn hóa', N'Sài Gòn - Tp.HCM là đô thị sắc màu rực rỡ & quyến rũ, là thành phố năng động và thân thiện, đồng thời cũng trung tâm kinh tế, văn hóa - du lịch, khoa học công nghệ lớn nhất Việt Nam. Bên cạnh những tòa nhà cao tầng hiện đại, Sài Gòn còn có các khu di tích mang kiến trúc cổ kính lâu đời. ', CAST(N'2023-08-15T00:00:00.000' AS DateTime), NULL, 1, N'vi        ')
INSERT [dbo].[ItineraryDescription] ([Id], [ItineraryId], [Name], [Description], [CreateTime], [UpdateTime], [Status], [LanguageCode]) VALUES (3, 7, N'History and Culture Combo', N'Saigon - Ho Chi Minh City is a vibrant and charming city, a dynamic and friendly city, and also the largest economic, cultural - tourism, scientific and technological center in Vietnam. Besides modern high-rise buildings, Saigon also has relics with ancient architecture.', CAST(N'2023-08-15T00:00:00.000' AS DateTime), NULL, 1, N'en-us     ')
SET IDENTITY_INSERT [dbo].[ItineraryDescription] OFF
GO
INSERT [dbo].[ItineraryPlace] ([PlaceId], [ItineraryId], [Price], [Ordinal]) VALUES (3, 2, CAST(2.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[ItineraryPlace] ([PlaceId], [ItineraryId], [Price], [Ordinal]) VALUES (3, 5, CAST(2.00 AS Decimal(18, 2)), 4)
INSERT [dbo].[ItineraryPlace] ([PlaceId], [ItineraryId], [Price], [Ordinal]) VALUES (3, 6, CAST(2.00 AS Decimal(18, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[Journey] ON 

INSERT [dbo].[Journey] ([Id], [StartTime], [EndTime], [TotalTime], [TotalDistance], [Status]) VALUES (1, CAST(N'2023-11-24T00:00:00.000' AS DateTime), CAST(N'2023-02-03T00:00:00.000' AS DateTime), 5, 22, 3)
INSERT [dbo].[Journey] ([Id], [StartTime], [EndTime], [TotalTime], [TotalDistance], [Status]) VALUES (2, CAST(N'2023-11-24T00:00:00.000' AS DateTime), CAST(N'2023-02-09T00:00:00.000' AS DateTime), 6, 3, 1)
INSERT [dbo].[Journey] ([Id], [StartTime], [EndTime], [TotalTime], [TotalDistance], [Status]) VALUES (3, CAST(N'2023-11-24T00:00:00.000' AS DateTime), NULL, 10, 10, 0)
SET IDENTITY_INSERT [dbo].[Journey] OFF
GO
INSERT [dbo].[MarkPlace] ([AccountId], [PlaceId], [Status]) VALUES (12, 3, 1)
INSERT [dbo].[MarkPlace] ([AccountId], [PlaceId], [Status]) VALUES (12, 6, 1)
INSERT [dbo].[MarkPlace] ([AccountId], [PlaceId], [Status]) VALUES (12, 7, 1)
GO
INSERT [dbo].[Nationality] ([PhoneCode], [NationalCode], [NationalName], [Icon], [LanguageName], [CreateTime], [UpdateTime], [Status]) VALUES (N'+44', N'en-gb', N'United Kingdom', N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Language%2Fengland_language.jpg?alt=media&token=828cd40b-68a4-4908-9472-77096b633b7a&_gl=1*31ffqd*_ga*MTYyNzY2MzU2NC4xNjgyNzcwNTY2*_ga_CW55HF8NVT*MTY5NjM0MDY5NC4zMC4xLjE2OTYzNDE0ODEuNTguMC4w', N'English(UK)', CAST(N'2023-02-13T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[Nationality] ([PhoneCode], [NationalCode], [NationalName], [Icon], [LanguageName], [CreateTime], [UpdateTime], [Status]) VALUES (N'+1', N'en-us', N'USA', N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Language%2Fus.png?alt=media&token=de21fec4-fbfa-46ec-a297-4bf7fdd7ecf9&_gl=1*d4ps97*_ga*MTYyNzY2MzU2NC4xNjgyNzcwNTY2*_ga_CW55HF8NVT*MTY5NjM0MDY5NC4zMC4xLjE2OTYzNDExNjEuNTQuMC4w', N'English(US)', CAST(N'2023-02-13T00:00:00.000' AS DateTime), NULL, 0)
INSERT [dbo].[Nationality] ([PhoneCode], [NationalCode], [NationalName], [Icon], [LanguageName], [CreateTime], [UpdateTime], [Status]) VALUES (N'+33', N'fr', N'French', N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/Language%2Ffrance.jpg?alt=media&token=6922e913-f401-441b-8a4e-709c58f7a743&_gl=1*9rhf6l*_ga*MTYyNzY2MzU2NC4xNjgyNzcwNTY2*_ga_CW55HF8NVT*MTY5NjM0MDY5NC4zMC4xLjE2OTYzNDE2ODQuNTYuMC4w', N'Français', CAST(N'2023-10-03T00:00:00.000' AS DateTime), NULL, 1)



GO
SET IDENTITY_INSERT [dbo].[Place] ON 

INSERT [dbo].[Place] ([Id], [Name], [Longitude], [Latitude], [GooglePlaceID], [Address], [EntryTicket], [Hour], [Rate], [Price], [CreateTime], [UpdateTime], [Status]) VALUES (3, N'Nhà thờ Đức Bà', CAST(106.699018 AS Decimal(9, 6)), CAST(10.779782 AS Decimal(8, 6)), N'ChIJUSTY5jcvdTERRVvtbJNZT-g', N'Ben Thanh Ward, District 1, Ho Chi Minh City', CAST(0.00 AS Decimal(18, 2)), CAST(N'01:30:00' AS Time), 5, CAST(2.00 AS Decimal(18, 2)), CAST(N'2023-07-13T00:00:00.000' AS DateTime), CAST(N'2023-07-13T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Place] ([Id], [Name], [Longitude], [Latitude], [GooglePlaceID], [Address], [EntryTicket], [Hour], [Rate], [Price], [CreateTime], [UpdateTime], [Status]) VALUES (6, N'Công viên Tao Đàn', CAST(106.692440 AS Decimal(9, 6)), CAST(10.774533 AS Decimal(8, 6)), N'ChIJsXOVajkvdTERcBdP0Xow8j4', N'Ben Thanh Ward, District 1, Ho Chi Minh City', CAST(0.00 AS Decimal(18, 2)), CAST(N'01:00:00' AS Time), NULL, CAST(5.00 AS Decimal(18, 2)), CAST(N'2023-07-13T00:00:00.000' AS DateTime), CAST(N'2023-07-13T00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Place] ([Id], [Name], [Longitude], [Latitude], [GooglePlaceID], [Address], [EntryTicket], [Hour], [Rate], [Price], [CreateTime], [UpdateTime], [Status]) VALUES (7, N'Bảo tàng Chứng tích chiến tranh', CAST(106.692091 AS Decimal(9, 6)), CAST(10.779509 AS Decimal(8, 6)), N'ChIJzwg3ojAvdTERqnQUK99K2Xw', N'28 Vo Van Tan Street, Vo Thi Sau Ward, District 3, Ho Chi Minh City', CAST(1.69 AS Decimal(18, 2)), CAST(N'01:30:00' AS Time), 5, CAST(5.00 AS Decimal(18, 2)), CAST(N'2023-07-13T00:00:00.000' AS DateTime), CAST(N'2023-07-13T00:00:00.000' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[Place] OFF
GO
INSERT [dbo].[PlaceCategory] ([PlaceId], [CategoryId], [Status]) VALUES (3, 1, 1)
INSERT [dbo].[PlaceCategory] ([PlaceId], [CategoryId], [Status]) VALUES (3, 9, 1)
INSERT [dbo].[PlaceCategory] ([PlaceId], [CategoryId], [Status]) VALUES (3, 10, 1)
GO
SET IDENTITY_INSERT [dbo].[PlaceDescription] ON 

SET IDENTITY_INSERT [dbo].[PlaceDescription] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaceImage] ON 

INSERT [dbo].[PlaceImage] ([Id], [PlaceId], [Url], [IsPrimary], [Status]) VALUES (1, 7, N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/place%2FPlaceImg%2FBaoTangChungTichChienTranh%2Fbao-tang-chung-tich-chien-tranh-1.jpg?alt=media&token=8b1c6763-3ff0-4c2c-b85c-348c6cd7ebde', 1, 1)
INSERT [dbo].[PlaceImage] ([Id], [PlaceId], [Url], [IsPrimary], [Status]) VALUES (2, 7, N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/place%2FPlaceImg%2FBaoTangChungTichChienTranh%2Fbao-tang-chung-tich-chien-tranh-3.jpg?alt=media&token=ddeda0db-640c-4aec-adac-d7044ee222cc', 0, 1)
INSERT [dbo].[PlaceImage] ([Id], [PlaceId], [Url], [IsPrimary], [Status]) VALUES (3, 7, N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/place%2FPlaceImg%2FBaoTangChungTichChienTranh%2Fbao-tang-chung-tich-chien-tranh-4.jpg?alt=media&token=6163975e-bc24-4fce-8395-1ca3f5e0b5dd', 0, 1)
SET IDENTITY_INSERT [dbo].[PlaceImage] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaceItem] ON 

INSERT [dbo].[PlaceItem] ([Id], [PlaceId], [Name], [BeaconId], [BeaconMajorNumber], [BeaconMinorNumber], [StartTime], [EndTime], [Url], [Status]) VALUES (1, 3, N'The statue of Our Lady of Peace', N'8FFF4D4E-B2D5-4675-AE08-11766D031DB9', 1, 1, CAST(N'00:00:59' AS Time), CAST(N'00:01:30' AS Time), N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/place%2FPlaceImg%2FNhaThoDucBa%2FSaigon-Notre-Dame-cathedral-14_1652162955.jpeg?alt=media&token=da11a058-f550-4d7e-adec-d27dfa8a9588', 1)
INSERT [dbo].[PlaceItem] ([Id], [PlaceId], [Name], [BeaconId], [BeaconMajorNumber], [BeaconMinorNumber], [StartTime], [EndTime], [Url], [Status]) VALUES (2, 3, N'Trung tâm Nhà thờ', N'35896370-C702-4521-9C22-56D5AA673B6C', 1, 2, CAST(N'00:02:00' AS Time), CAST(N'00:03:00' AS Time), N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/place%2FPlaceImg%2FNhaThoDucBa%2F1280px-Cathedral_of_the_Sacred_Heart_Guangzhou_1.jpg?alt=media&token=909765be-6de0-4b79-955a-4d78a86c0cc4', 1)
INSERT [dbo].[PlaceItem] ([Id], [PlaceId], [Name], [BeaconId], [BeaconMajorNumber], [BeaconMinorNumber], [StartTime], [EndTime], [Url], [Status]) VALUES (3, 28, N'Tượng The Self Made Man', N'35896370-C702-4521-9C22-56D5AA673B6C', 1, 3, CAST(N'00:00:59' AS Time), CAST(N'00:01:30' AS Time), N'https://firebasestorage.googleapis.com/v0/b/capstoneetravel-d42ad.appspot.com/o/place%2FPlaceImg%2FFPTHCM%2FIMG_7037-1.jpg?alt=media&token=678b1238-a809-48b8-b7fa-9547b498eb19', 1)
SET IDENTITY_INSERT [dbo].[PlaceItem] OFF
GO
SET IDENTITY_INSERT [dbo].[PlaceTime] ON 

INSERT [dbo].[PlaceTime] ([Id], [PlaceId], [DaysOfWeek], [OpenTime], [EndTime], [Status]) VALUES (1, 3, 1, CAST(N'05:30:00' AS Time), CAST(N'21:30:00' AS Time), 1)
INSERT [dbo].[PlaceTime] ([Id], [PlaceId], [DaysOfWeek], [OpenTime], [EndTime], [Status]) VALUES (3, 3, 2, CAST(N'05:30:00' AS Time), CAST(N'21:30:00' AS Time), 1)
INSERT [dbo].[PlaceTime] ([Id], [PlaceId], [DaysOfWeek], [OpenTime], [EndTime], [Status]) VALUES (4, 3, 3, CAST(N'05:30:00' AS Time), CAST(N'21:30:00' AS Time), 1)
GO
SET IDENTITY_INSERT [dbo].[PlaceTime] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [RoleName], [Status]) VALUES (1, N'Administrator', 1)
INSERT [dbo].[Role] ([Id], [RoleName], [Status]) VALUES (2, N'Moderator', 1)
INSERT [dbo].[Role] ([Id], [RoleName], [Status]) VALUES (3, N'Visitor', 1)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Transaction] ON 

INSERT [dbo].[Transaction] ([Id], [AccountId], [BookingId], [PaymentMethod], [Description], [Amount], [CreateTime], [UpdateTime], [Status]) VALUES (2, 17, 1, N'MasterCard', N'Thanh toán eTravel', CAST(21.00 AS Decimal(18, 2)), CAST(N'2023-11-24T10:03:00.000' AS DateTime), NULL, 2)
INSERT [dbo].[Transaction] ([Id], [AccountId], [BookingId], [PaymentMethod], [Description], [Amount], [CreateTime], [UpdateTime], [Status]) VALUES (3, 12, 2, N'Banking', N'Thanh toán eTravel', CAST(11.00 AS Decimal(18, 2)), CAST(N'2023-11-24T00:00:00.000' AS DateTime), NULL, 2)
INSERT [dbo].[Transaction] ([Id], [AccountId], [BookingId], [PaymentMethod], [Description], [Amount], [CreateTime], [UpdateTime], [Status]) VALUES (4, 12, 3, N'Paypal', N'Thanh Toan eTravel', CAST(10.00 AS Decimal(18, 2)), CAST(N'2023-10-01T00:00:00.000' AS DateTime), NULL, 2)
SET IDENTITY_INSERT [dbo].[Transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[TransactionDetail] ON 

INSERT [dbo].[TransactionDetail] ([Id], [TransactionId], [PaymentId], [CaptureId], [PaymentAccountId], [Amount], [Currency], [Description], [CreateTime], [UpdateTime], [Status]) VALUES (1, 2, N'pm_1NwLb42eZvKYlo2Cc6YKElow', N'pi_1Gt0582eZvKYlo2CGSidzWqK_secret_oXf7YqqAuu7ZTT34ELNOKUgCB', N'73384854-40a9-4dc4-9b13-2be38b147ae2', CAST(21.00 AS Decimal(18, 2)), N'usd', N'Thanh toan Etravel', CAST(N'2023-11-24T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[TransactionDetail] ([Id], [TransactionId], [PaymentId], [CaptureId], [PaymentAccountId], [Amount], [Currency], [Description], [CreateTime], [UpdateTime], [Status]) VALUES (2, 3, N'pm_2NwLb42eZvKYlo2Cc6YKElow', N'pi_2Gt0582eZvKYlo2CGSidzWqK_secret_oXf7YqqAuu7ZTT34ELNOKUgCB', N'fed1cff5-4f25-40bf-aaca-bdb91f59c51e', CAST(11.00 AS Decimal(18, 2)), N'usd', N'Thanh toan Etravel', CAST(N'2023-11-24T00:00:00.000' AS DateTime), NULL, 1)
INSERT [dbo].[TransactionDetail] ([Id], [TransactionId], [PaymentId], [CaptureId], [PaymentAccountId], [Amount], [Currency], [Description], [CreateTime], [UpdateTime], [Status]) VALUES (3, 4, N'pm_1NwLb42eZvKYlo2Cc6YKElow', N'pi_1Gt0582eZvKYlo2CGSidzWqK_secret_oXf7YqqAuu7ZTT34ELNOKUgCB', N'73384854-40a9-4dc4-9b13-2be38b147ae2', CAST(10.00 AS Decimal(18, 2)), N'usd', N'Thanh toan eTravel', CAST(N'2023-10-01T00:00:00.000' AS DateTime), CAST(N'2023-10-01T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[TransactionDetail] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_Email]    Script Date: 12/9/2023 8:46:13 PM ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [UC_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Phone]    Script Date: 12/9/2023 8:46:13 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Phone] ON [dbo].[Account]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_ConfigLanguage]    Script Date: 12/9/2023 8:46:13 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_ConfigLanguage] ON [dbo].[ConfigLanguage]
(
	[LanguageCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Conversation_1]    Script Date: 12/9/2023 8:46:13 PM ******/
ALTER TABLE [dbo].[Conversation] ADD  CONSTRAINT [IX_Conversation_1] UNIQUE NONCLUSTERED 
(
	[SessionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_ConfigLanguage] FOREIGN KEY([ConfigLanguageId])
REFERENCES [dbo].[ConfigLanguage] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_ConfigLanguage]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Nationality] FOREIGN KEY([NationalCode])
REFERENCES [dbo].[Nationality] ([NationalCode])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Nationality]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Role]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Account]
GO
ALTER TABLE [dbo].[BookingPlace]  WITH CHECK ADD  CONSTRAINT [FK_BookingPlace_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([Id])
GO
ALTER TABLE [dbo].[BookingPlace] CHECK CONSTRAINT [FK_BookingPlace_Booking]
GO
ALTER TABLE [dbo].[BookingPlace]  WITH CHECK ADD  CONSTRAINT [FK_BookingPlace_Journey] FOREIGN KEY([JourneyId])
REFERENCES [dbo].[Journey] ([Id])
GO
ALTER TABLE [dbo].[BookingPlace] CHECK CONSTRAINT [FK_BookingPlace_Journey]
GO
ALTER TABLE [dbo].[BookingPlace]  WITH CHECK ADD  CONSTRAINT [FK_BookingPlace_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[BookingPlace] CHECK CONSTRAINT [FK_BookingPlace_Place]
GO
ALTER TABLE [dbo].[CategoryLanguage]  WITH CHECK ADD  CONSTRAINT [FK_CategoryLanguage_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[CategoryLanguage] CHECK CONSTRAINT [FK_CategoryLanguage_Category]
GO
ALTER TABLE [dbo].[CelebrateImage]  WITH CHECK ADD  CONSTRAINT [FK_CelebrateImage_BookingPlace] FOREIGN KEY([BookingDetailId])
REFERENCES [dbo].[BookingPlace] ([Id])
GO
ALTER TABLE [dbo].[CelebrateImage] CHECK CONSTRAINT [FK_CelebrateImage_BookingPlace]
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD  CONSTRAINT [FK_Conversation_Account] FOREIGN KEY([Account_One_Id])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Conversation] CHECK CONSTRAINT [FK_Conversation_Account]
GO
ALTER TABLE [dbo].[Conversation]  WITH CHECK ADD  CONSTRAINT [FK_Conversation_Account1] FOREIGN KEY([Account_Two_Id])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Conversation] CHECK CONSTRAINT [FK_Conversation_Account1]
GO
ALTER TABLE [dbo].[FcmToken]  WITH CHECK ADD  CONSTRAINT [FK_FcmToken_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[FcmToken] CHECK CONSTRAINT [FK_FcmToken_Account]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_Account]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Place1] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_Place1]
GO
ALTER TABLE [dbo].[FeedBack]  WITH CHECK ADD  CONSTRAINT [FK_FeedBack_Tour1] FOREIGN KEY([ItineraryId])
REFERENCES [dbo].[Itinerary] ([Id])
GO
ALTER TABLE [dbo].[FeedBack] CHECK CONSTRAINT [FK_FeedBack_Tour1]
GO
ALTER TABLE [dbo].[ItemDescription]  WITH CHECK ADD  CONSTRAINT [FK_ItemDescription_PlaceItem] FOREIGN KEY([PlaceItemId])
REFERENCES [dbo].[PlaceItem] ([Id])
GO
ALTER TABLE [dbo].[ItemDescription] CHECK CONSTRAINT [FK_ItemDescription_PlaceItem]
GO
ALTER TABLE [dbo].[Itinerary]  WITH CHECK ADD  CONSTRAINT [FK_Tour_Account] FOREIGN KEY([CreateById])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Itinerary] CHECK CONSTRAINT [FK_Tour_Account]
GO
ALTER TABLE [dbo].[ItineraryDescription]  WITH CHECK ADD  CONSTRAINT [FK_TourDescription_Tour] FOREIGN KEY([ItineraryId])
REFERENCES [dbo].[Itinerary] ([Id])
GO
ALTER TABLE [dbo].[ItineraryDescription] CHECK CONSTRAINT [FK_TourDescription_Tour]
GO
ALTER TABLE [dbo].[ItineraryPlace]  WITH CHECK ADD  CONSTRAINT [FK_TourDetail_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[ItineraryPlace] CHECK CONSTRAINT [FK_TourDetail_Place]
GO
ALTER TABLE [dbo].[ItineraryPlace]  WITH CHECK ADD  CONSTRAINT [FK_TourDetail_Tour] FOREIGN KEY([ItineraryId])
REFERENCES [dbo].[Itinerary] ([Id])
GO
ALTER TABLE [dbo].[ItineraryPlace] CHECK CONSTRAINT [FK_TourDetail_Tour]
GO
ALTER TABLE [dbo].[MarkPlace]  WITH CHECK ADD  CONSTRAINT [FK_MarkPlace_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[MarkPlace] CHECK CONSTRAINT [FK_MarkPlace_Account]
GO
ALTER TABLE [dbo].[MarkPlace]  WITH CHECK ADD  CONSTRAINT [FK_MarkPlace_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[MarkPlace] CHECK CONSTRAINT [FK_MarkPlace_Place]
GO
ALTER TABLE [dbo].[PlaceCategory]  WITH CHECK ADD  CONSTRAINT [FK_PlaceCategory_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[PlaceCategory] CHECK CONSTRAINT [FK_PlaceCategory_Category]
GO
ALTER TABLE [dbo].[PlaceCategory]  WITH CHECK ADD  CONSTRAINT [FK_PlaceCategory_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[PlaceCategory] CHECK CONSTRAINT [FK_PlaceCategory_Place]
GO
ALTER TABLE [dbo].[PlaceDescription]  WITH CHECK ADD  CONSTRAINT [FK_PlaceDescription_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[PlaceDescription] CHECK CONSTRAINT [FK_PlaceDescription_Place]
GO
ALTER TABLE [dbo].[PlaceImage]  WITH CHECK ADD  CONSTRAINT [FK_PlaceImage_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[PlaceImage] CHECK CONSTRAINT [FK_PlaceImage_Place]
GO
ALTER TABLE [dbo].[PlaceItem]  WITH CHECK ADD  CONSTRAINT [FK_PlaceItem_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[PlaceItem] CHECK CONSTRAINT [FK_PlaceItem_Place]
GO
ALTER TABLE [dbo].[PlaceTime]  WITH CHECK ADD  CONSTRAINT [FK_PlaceTime_Place] FOREIGN KEY([PlaceId])
REFERENCES [dbo].[Place] ([Id])
GO
ALTER TABLE [dbo].[PlaceTime] CHECK CONSTRAINT [FK_PlaceTime_Place]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Booking] FOREIGN KEY([BookingId])
REFERENCES [dbo].[Booking] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Payment_Booking]
GO
ALTER TABLE [dbo].[Transaction]  WITH CHECK ADD  CONSTRAINT [FK_Transaction_Account] FOREIGN KEY([AccountId])
REFERENCES [dbo].[Account] ([Id])
GO
ALTER TABLE [dbo].[Transaction] CHECK CONSTRAINT [FK_Transaction_Account]
GO
ALTER TABLE [dbo].[TransactionDetail]  WITH CHECK ADD  CONSTRAINT [FK_TransactionDetail_Transaction] FOREIGN KEY([TransactionId])
REFERENCES [dbo].[Transaction] ([Id])
GO
ALTER TABLE [dbo].[TransactionDetail] CHECK CONSTRAINT [FK_TransactionDetail_Transaction]
GO
USE [master]
GO
